---
const currentYear = new Date().getFullYear();
---

<footer class="rounded-lg shadow m-4 bg-[--footer-bg-color] justify-center">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-base text-[--footer-txt-color-1] sm:text-center"
      >{`${currentYear} - `}
      <a href="/#home" class="hover:underline hover:text-[--footer-txt-color-2]"
        >Saúl Villeda</a
      >. Almost all rights reserved
    </span>
    <div class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <span
        class="text-[--footer-txt-color-1] hover:text-[--footer-txt-color-2]"
      >
        Be Amazing,
      </span><span
        class="text-[--footer-txt-color-1] hover:text-[--footer-txt-color-2]"
      >
        &nbsp;Be Yourself
      </span>
    </div>
  </div>
</footer>
