---
import { work } from "@data";
import ExperienceItem from "@/components/content/exp/ExperienceItem.astro";

interface WorkExperience {
  name: string;
  position: string;
  url: string;
  startDate: string;
  endDate: string;
  summary: string;
  highlights: string[];
}

interface Experience {
  work: WorkExperience[];
}

// const EXPERIENCES = work;
const EXPERIENCES: Experience = {
  work: work as WorkExperience[],
};
---

<ol class="relative ml-3 border-s-2 border-[--exp-list-border-color]">
  {
    EXPERIENCES.work.map((experience) => (
      <li class="mb-5 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
