---
import { projects } from "@data";

import ProjectItem from "@/components/content/project/ProjectItem.astro";

interface Profile {
  username: string;
  url: string;
  color: string;
}

interface Project {
  name: string;
  description: string;
  tags: string[];
  url?: Profile;
  github?: Profile;
  images: string[];
}

const PROJECTS: Project[] = projects;
---

<div class="projects-container w-full">
  {PROJECTS.map((project) => <ProjectItem project={project} />)}
</div>
