---
import "@css/ProjectGalleryModal.css";
---

<dialog id="modalGalleryContainer" class="modal-gallery-container">
  <div id="modalGalleryContent" class="modal-gallery-content">
    <button
      id="modalGalleryBtnPrev"
      class="modal-gallery-btn-prev"
      formmethod="dialog">&lt;</button
    >
    <button
      id="modalGalleryBtnClose"
      class="modal-gallery-btn-close"
      formmethod="dialog">&times;</button
    >
    <button
      id="modalGalleryBtnNext"
      class="modal-gallery-btn-next"
      formmethod="dialog">&gt;</button
    >
    <img class="modal-gallery-img" id="modalGalleryImg" />
  </div>
</dialog>
