---
import { projects } from "@data";

import ProjectItem from "@/components/content/project/ProjectItem/ProjectItem.astro";

interface Project {
  name: string;
  description: string;
  tags: string[];
  url: string;
  github: string;
  images: string[];
}

const PROJECTS: Project[] = projects;
---

<div class="projects-container w-full">
  {PROJECTS.map((project) => <ProjectItem project={project} />)}
</div>
