---
import { Image } from "astro:assets";
import { basics } from "@data";
import profileIconImg from "@img/profileIcon.svg";

import Socials from "@/components/utilities/social/Socials.astro";
import Badge from "@/components/utilities/badge/Badge.astro";

interface ProfileInterface {
  username?: string;
  url?: string;
  color?: string;
}
interface ProfilesInterface {
  [key: string]: ProfileInterface;
}

interface BasicsInterface {
  name: string;
  label: string;
  profiles: ProfilesInterface;
}

const { name, label, profiles }: BasicsInterface = basics;

const selectedProfiles: string[] = ["LinkedIn", "GitHub", "X"];
const selectedProfilesData: ProfilesInterface = {};

selectedProfiles.forEach((profileName) => {
  if (profiles[profileName]) {
    selectedProfilesData[profileName] = profiles[profileName];
  }
});
---

<section class="flex flex-col items-center justify-center md:flex-row">
  <Image
    src={profileIconImg}
    alt="logo"
    loading="eager"
    class="mb-4 size-12 rounded-full rotate-180 aspect-square"
  />

  <div class="">
    <h1
      class="flex flex-row gap-x-4 text-balance pb-6 text-2xl font-bold md:text-4xl lg:pb-10 lg:text-5xl text-[--txt-color-1]"
    >
      Hey! I'm<span
        class="text-[--txt-color-3] text-2xl md:text-4xl lg:text-5xl"
        >{name}</span
      >
    </h1>
  </div>

  <div class="pb-10 md:pb-8 md:px-5">
    <a
      href={profiles["LinkedIn"].url}
      target="_blank"
      rel="noopener"
      class="flex items-center justify-center transition hover:scale-105"
    >
      <Badge class="">Open to work 🚀</Badge></a
    >
  </div>
</section>
<p class="text-pretty text-xl opacity-80 lg:text-2xl text-[--txt-color-1]">
  {label}
</p>

<Socials
  class="mt-8 flex flex-wrap justify-center gap-2"
  profiles={selectedProfilesData}
/>
