---
import { basics } from "@data";
import "@css/Contact.css";
import SendIcon from "@icons/sections/Send.astro";
const mailBase: string = basics.email;
---

<div class="contact-container flex flex-col rounded-md p-6 overflow-hidden">
  <form
    action=""
    class="contact-form relative p-8 bg-[--contact-bg-color] rounded-lg"
  >
    <i class="contact-line-x"></i>
    <i class="contact-line-y"></i>
    <div
      class="contact-group p-2 flex rounded-md text-balance bg-[--contact-header-bg-color]"
    >
      <p
        class=`
        z-20 
        text-lg 
        text-[--contact-txt-color] `
      >
        📣 Ready for turn your ideas into exceptional digital experiences? send
        me an email.
      </p>
    </div>
    <br />
    <div class="contact-group flex flex-col">
      <label
        for="contactInputSubject"
        class=`
        z-20 
        text-lg 
        text-[--contact-txt-color] `
        >Let me know how I can help you <em
          class=`
          z-20 
          text-xs 
          text-[--contact-txt-color] `
          >(subject line)</em
        ></label
      >
      <span
        id="contactErrorSubject"
        class=`
      hidden 
      z-20 
      text-[--contact-txt-error-color]`
        >The subject is required</span
      >
      <input
        class=`
        w-full 
        px-3 
        py-2 
        z-20 
        rounded-md 
        bg-[--contact-input-bg-color] 
        text-[--txt-color-5] 
        border-2 
        border-[--contact-input-border-color] 
        focus:outline-none 
        focus:border-[--contact-input-border-hover-color] 
        focus:ring-1 
        focus:ring-[--contact-input-border-hover-color] 
        focus:bg-[--contact-input-bg-hover-color] 
        hover:bg-[--contact-input-bg-hover-color] 
        `
        type="text"
        name="contactInputSubject"
        id="contactInputSubject"
        autocomplete="off"
        required
      />
    </div>
    <div class="contact-group flex flex-col">
      <label
        for="contactInputMessage"
        class="text-lg text-[--contact-txt-color] z-20">Leave a message</label
      >
      <span
        id="contactErrorMessage"
        class=`
      hidden 
      z-20 
      text-[--contact-txt-error-color]`
        >The message is required</span
      >
      <textarea
        class=`
        w-full 
        px-3 
        py-2 
        z-20 
        rounded-md 
        bg-[--contact-input-bg-color] 
        text-[--txt-color-5] 
        border-2 
        border-[--contact-input-border-color] 
        focus:outline-none 
        focus:border-[--contact-input-border-hover-color] 
        focus:ring-1 
        focus:ring-[--contact-input-border-hover-color] 
        focus:bg-[--contact-input-bg-hover-color] 
        hover:bg-[--contact-input-bg-hover-color] 
        `
        id="contactInputMessage"
        cols="30"
        autocomplete="off"
        rows="5"
        required></textarea>
      <input
        type="hidden"
        name="mailBase"
        class="hidden"
        value={mailBase}
        id="mailBase"
      />
    </div>
    <button
      class=`
      contact-btn
      font-medium
      z-20
      mt-4
      right-0
      p-2
      rounded-lg
      flex
      items-center
      justify-center
      bg-[--contact-btn-bg-color]
      text-[--contact-btn-txt-color]
      group
      hover:bg-gradient-to-br
      from-[--contact-btn-bg-grad-color-1]
      hover:to-[--contact-btn-bg-grad-color-2]
      hover:text-[--contact-btn-txt-hover-color]
      `
      id="contactBtn"
    >
      <SendIcon class="size-3.5" />
      <span class="relative ml-1 rounded-md"> Send Message</span>
    </button>
  </form>
</div>
<script src="/src/scripts/Contact.ts"></script>
