---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "@/components/utilities/SectionContainer.astro";
import Home from "@/components/content/Home.astro";
import Experience from "@/components/content/experience/Experience.astro";
import Projects from "@/components/content/project/Projects.astro";
import AboutMe from "@/components/content/aboutMe/AboutMe.astro";
import SkillsAccordion from "@/components/content/skills/SkillsAccordion.astro";
import Contact from "@/components/content/contact/Contact.astro";

import BriefcaseIcon from "@icons/sections/Briefcase.astro";
import CodeIcon from "@icons/sections/Code.astro";
import UserFilledIcon from "@icons/sections/UserFilled.astro";
import MailForwardIcon from "@icons/sections/MailForward.astro";
---

<Layout
  title="Saúl Villeda - Web Developer Portfolio | 3 Years of Experience Crafting Amazing and Accessible Web"
  description="Explore the portfolio of Saúl Villeda, a web developer with expertise in multiple programming web languages, Discover innovative projects and creative solutions for your web development needs."
>
  <main class="content px-4">
    <SectionContainer class="py-32 md:py-44" id="home">
      <Home />
    </SectionContainer>

    <SectionContainer class="" id="experience">
      <h2
        class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-[--txt-color-1]"
      >
        <BriefcaseIcon class="size-7" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer class="" id="projects">
      <h2
        class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-[--txt-color-1]"
      >
        <CodeIcon class="size-7" />
        Proyects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer class="" id="about">
      <h2
        class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-[--txt-color-1]"
      >
        <UserFilledIcon class="size-7" />
        About me
      </h2>
      <AboutMe />
      <!-- Skills Optional -->
      <SkillsAccordion />
    </SectionContainer>

    <SectionContainer class="" id="contact">
      <h2
        class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-[--txt-color-1]"
      >
        <MailForwardIcon class="size-7" />
        Contact
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
