<div class="badge-btn">
  <span class="badge-btn-txt"><slot /></span>
  <span class="badge-btn-bg"></span>
</div>

<style>
  .badge-btn {
    position: relative;
    border-radius: 1rem;
    display: flex;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  .badge-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
      from var(--angle),
      var(--badge-btn-grad-1),
      var(--badge-btn-grad-2),
      var(--badge-btn-grad-3),
      var(--badge-btn-grad-4),
      var(--badge-btn-grad-5),
      var(--badge-btn-grad-4),
      var(--badge-btn-grad-3),
      var(--badge-btn-grad-2),
      var(--badge-btn-grad-1)
    );
    border-radius: 1rem;
    animation: rotating 4s linear infinite;
  }
  .badge-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(
      from var(--angle),
      var(--badge-btn-grad-1),
      var(--badge-btn-grad-2),
      var(--badge-btn-grad-3),
      var(--badge-btn-grad-4),
      var(--badge-btn-grad-5),
      var(--badge-btn-grad-4),
      var(--badge-btn-grad-3),
      var(--badge-btn-grad-2),
      var(--badge-btn-grad-1)
    );
    border-radius: 1rem;
    animation: rotating 4s linear infinite;
    filter: blur(0.25rem);
    opacity: 0.75;
  }

  .badge-btn-bg {
    position: absolute;
    inset: 0.14rem;
    background: #020617e6;
    border-radius: 1rem;
    z-index: 1;
  }

  .badge-btn-txt {
    border-radius: 1rem;
    color: white;
    z-index: 2;
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-inline: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  @property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes rotating {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
</style>
