:root {
  color-scheme: dark light;
  --bg-color: #121212;
  --txt-size: 16px;

  /* txt colors */
  --txt-color-1: #ffffff;
  --txt-color-2: #08f9ff;
  --txt-color-3: #5d59c2;

  /* txt highlight colors */
  --txt-highlight-1: #5d59c2;
  --txt-highlight-2: #ec4899;

  /* header NavBar */
  --navBar-bg-color: #050505;
  --navLink-bg-hover-color: #08f9ff;
  --navLink-bg-active-color: #005580;
  --navLink-border-hover-color: #1a80b3;
  --navLink-border-active-color: #dc143c;
  --navLink-text-active-color: #08f9ff;
  --navLink-text-color: #ffffff;

  /* footer */
  --footer-bg-color: #050505;
  --footer-border-color: #161457;

  /* badge btn */
  --badge-btn-grad-1: #f9f5ff;
  --badge-btn-grad-2: #e0c9fe;
  --badge-btn-grad-3: #a597e3;
  --badge-btn-grad-4: #5d59c2;
  --badge-btn-grad-5: #4949b6;

  /* social btn */
  --social-btn-bg: #5d59c2;
  --social-btn-span-bg: #1e1e20;
  --social-btn-shadow-size: 0.75rem;
  --social-default-color: #ffffff;
  --social-line-before-h: 0.25rem;
  --social-line-before-w: 0.625rem;
  --social-line-before-hover-w: 0.85rem;

  /* Experience */
  --exp-list-border-color: #5d59c2;
  --exp-list-item-color: #3d5dee;
  --exp-list-item-hover-color: #ec4899;
  --exp-content-bg-color: #1e1e20;

  /* Projects */
  --proj-hover-bg-color: #1a1a1a;
  --proj-desc-bg-color: #252525;
  --proj-desc-bg-hover-color: #2b2b2b;
  --proj-line-color: #5d59c2;
  --proj-line-x-h: 0.25rem;
  --proj-line-x-w: 15rem;
  --proj-line-y-h: 10rem;
  --proj-line-y-w: 0.25rem;

  /* tags */
  --tag-color: #252525; /* if change, go to Tags.astro and change a const colorDefault */
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  font-size: var(--txt-size);
  color: var(--txt-color-1);
  min-height: 100dvh;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
